# --------------------Assignment 4-------------------

### `question 1

In [1]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### question 2

In [1]:
numbers=20
while numbers>=1:
    print (numbers)
    numbers -=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### question 3

In [4]:
for even in range(2,11,2):
    print(even)

2
4
6
8
10

### question 4

In [13]:
number=int(input("enter your number:"))
for i in range(1,number):
    print(i)

enter your number: 8

1
2
3
4
5
6
7

### question 5

In [14]:
number=int(input("enter your number:"))
for i in range(1,number,2):
    print(i)

enter your number: 8

1
3
5
7

### question 6

In [9]:
text="happy birthday"
for i in range(1,6):
    print(text)

happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

### question 7

In [3]:
number=int(input("enter your number:"))
for i in range(1,number+1):
    print(i**2)

enter your number: 8

1
4
9
16
25
36
49
64

### question 8

In [5]:
number=int(input("enter your number:"))
for i in range(1,11):
    print(f"{number} x {i} = {number*i}")

enter your number: 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### question 9

In [5]:
term = 3
difference = 4
for i in range(8):
    print(term, end=" ")
    term = term + difference

3 7 11 15 19 23 27 31

### question 10

In [8]:
term=2
ratio=3
for i in range(7):
    print(term, end= " ")
    term=term * ratio

2 6 18 54 162 486 1458

### question 11

In [11]:
number = int(input("enter positive number: "))
total_sum = 0
for i in range(1, number + 1):
    total_sum += i 
print(F"the sum of 1 to {number} is : {total_sum}")

enter positive number:  10

the sum of 1 to 10 is : 55

### question 12

In [12]:
number = int(input("enter positive number: "))
total_sum = 0
for i in range(1, number + 1):
    total_sum += 1/i 
print(F"the sum of 1 to {number} is : {total_sum}")

enter positive number:  10

the sum of 1 to 10 is : 2.9289682539682538

### question 13

In [3]:
number_1 = int(input("enter positive number: "))
number_2 = int(input("enter positive number: "))
number_3 = int(input("enter positive number: "))
number_4 = int(input("enter positive number: "))
number_5 = int(input("enter positive number: "))
sum=number_1+number_2+number_3+number_4+number_5
print(f"the final running total is{sum}")

enter positive number:  10
enter positive number:  15
enter positive number:  35
enter positive number:  40
enter positive number:  50

the final running total is150

### question 14

In [1]:
number = int(input("Enter a positive integer: "))
if number < 0:
    print("Factorial does not exist for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, number + 1):
        factorial *= i
    print(f"The factorial of {number} is {factorial}.")

Enter a positive integer:  6

The factorial of 6 is 720.

### question 15

In [3]:
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))
result = 1
if exponent > 0:
    for i in range(exponent):
        result = result * base
elif exponent < 0:
    for i in range(-exponent):
        result = result / base
print(base, "raised to the power of", exponent, "is", result)

Enter the base number:  7
Enter the exponent:  2

7.0 raised to the power of 2 is 49.0